!!!
%html{:lang => :en}
  %head
    %meta{:charset => 'utf-8'}

    %title Person Form

  %body
    - mold :bar do |form|
      %p.test Testing block
      = form.label :name
      = form.input :name

      = form.textarea :name, :value => "foobarbaz"

